<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>ボイスチェンジャー</title>
        <script type="text/javascript" src="index.js"></script>
    </head>

    <body>
        <h1>ボイスチェンジャー</h1>
        <p>音声をアップロードしてね!<br>
            AIがあなたの声を変換してくれるよ!</p>
        
        <form method="post" action = "/second" enctype="multipart/form-data">
          <div>
            <input type="file" name="file" accept="audio/*"><br>
            <input type="submit" value="アップロード">
          </div>
        </form>        


</html>