<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>ボイスチェンジャー</title>
        <script type="text/javascript" src="index.js"></script>
    </head>

    <body>
        <h1>ボイスチェンジャー</h1>
        <p>自分の今の気分をテキストボックスに記入してね!<br>
            AIがあなたの気持ちと似た曲を探してくれるよ!
        やったー！！</p>
        
        <form method="post" action = "/second" enctype="multipart/form-data">
          <div>
            <input type="file" name="file"><br>
            <input type="submit" value="アップロード">
          </div>
        </form>        

    <body>
        <audio controls>
            <source src="./sampleAudio.wav">
        </audio>
    </body>

</html>