# 音声ファイルなどのデータはgitに追加しないように設定
*.wav
*.m4a
*.jpeg

# モデルのチェックポイントもgitに追加しないように設定
/Users/Tanaka/VoiceConversionWebApplication/flask/models/converters/CycleGAN_VC2/_CycleGAN_CheckPoint

# poetryによって作成された環境(.venv)もgitに追加しないように設定
/flask/models/converters/CycleGAN_VC2/.venv
