<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/title.css">
    <link rel="stylesheet" href="/static/css/naturalnessMOSSample.css">
    <title>NaturalnessMOSSample</title>
</head>
<body>
    <h1>音声の自然性(Naturalness)を評価する</h1>
    <h2>評価方法</h2>
    ・以下の評価基準を元に1~5段階で評価する<br>
    ・発話内容に違和感がないか？<br>
    ・人間っぽい声か(機械音でないか？)<br>
    <h2>例</h2>
    <table>
        <div>
        <h3>1. 音声を聴く</h3>
        <audio src="/audio/mos/sample.wav" controls></audio>
        </div>


        <div>
        <h3>2. 評価する</h3>
            <input type="radio" id="sample5" name="contact" value="5" />
            <label for="sample5">非常に良い</label>

            <input type="radio" id="sample4" name="contact" value="4" />
            <label for="sample4">良い</label>

            <input type="radio" id="sample3" name="contact" value="3" />
            <label for="sample3">普通</label>
      
            <input type="radio" id="sample2" name="contact" value="2" />
            <label for="sample2">悪い</label>

            <input type="radio" id="sample1" name="contact" value="1" />
            <label for="sample1">非常に悪い</label>
            
        </div>
    </table>
    <h2>設定 (指導者の指示に従ってください)</h2>
    <form action="/NaturalnessEvaluation" method="post">
    モデル
    <label class = "pulldown">
        <select name="model">
            <option disabled selected>選択して下さい</option>
            <option value="CycleGAN_VC2">CycleGAN_VC2</option>
            <option value="MaskCycleGAN_VC">MaskCycleGAN_VC</option>
        </select>
    </label>

    <br>

    音声
    <label class = "pulldown">
        <select name="audio">
            <option disabled selected>選択して下さい</option>
            <option value="CycleGAN_VC2">CycleGAN_VC2</option>
            <option value="MaskCycleGAN_VC">MaskCycleGAN_VC</option>
        </select>
    </label>
    <br>
        <button type="submit">評価する</button>
    </form>
</body>
</html>