<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="/static/css/sample.css">
        <title>音声変換</title>
    </head>

    <body>
        <h1>AIを使って自分の音声を変えよう！！</h1>
        <p>音声をアップロードしてね!<br>
            AIがあなたの声を変換してくれるよ!</p>
        

        <form method="post" action = "/upload" enctype="multipart/form-data">
          <select name="sel">
            <option value="null" disabled selected>選択して下さい</option>
            <option value="changeMtoW">男性から女性に変換</option>
            <option value="changeWtoM">女性から男性に変換</option>
          </select>
          <div>
            <p>ファイルをアップロードして変換！<br>
            パソコンの中にあるファイルを選択してね！</p> 
            <input type="file" name="file" accept="audio/*"><br>
          </div>

          <div>
            <input type="submit" value="アップロード">
          </div>
        </form> 

</html>