h2{
    position: relative;
    left: 15px;
}



/*
警告文の
*/
#error{
    color: red;
}


/*
プルダウンの
*/
.toggle {
    position: relative;
    left: 15px;
}

.toggle::before,
.toggle::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.toggle::before {
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
    content: '';
}

.toggle::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}

.toggle select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #2589d0;
    border-radius: 3px;
    color: #857a7a;
    font-size: 1em;
    cursor: pointer;
}


/*
ファイルをアップロードするときのボタンの
*/
#fileButton {
    position: relative;
    height: 2.8em;
    width: 230px;
    left: 15px;
    border: 2px solid #2589d0;
    background-color: #fff;
    color: #857a7a;
    font-size: 1em;
}


/*
アップロードするファイル名の
*/
#filename{
    top: 7pt;
    left: 10pt;
    left: 15px;
    position: relative;
    display: inline-block;
}


/*
送信ボタンの
*/
#go {
    position: relative;
    top: 10pt;
    height: 40px;
    width: 120px;
    left: 15px;
    border-radius: 20px;
    background-color: #2589d0;
    border: 0px solid #2589d0;
    color: #ffffff;;
    font-size: 1em;
}

#go:hover {
    background-color: #0000FF;
}


/*
音声を再生するときの
*/
.play {
float: left;
}

.play {
text-align: center;
line-height: 100px;
width: 400px;
height: 100px;
}