<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/title.css">
    <link rel="stylesheet" href="/static/css/topPage.css">
    <title>topPage</title>
</head>
<body>
    <h1>AIを使って音声を変換しよう!!!</h1>
    <center>
    <h2>音声を変換してみよう！</h2>
    <p class="intro">
        みなさんは、可愛い美少女になりたいと考えたことはないですか？<br>
        もちろんあると思います。<br>
        その助けとなるようなアプリケーションを開発しました。
    </p>

    <table>
    <tr>
    <td><form class=signIn action="/login" method="post">
        <button type="submit">ログイン</button>
    </form></td>
    <td><form class=signUp action="/signup" method="post">
        <button type="submit">新規登録</button>
    </form></td>
    </tr>
    </table>
    </center>
</body>
</html>