<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/title.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>Signup</title>
</head>
<body>
    <div class="center">
    <h1>AIを使って音声を変換しよう!!!</h1>
    <h2>Signup</h2>
    <form action="/modeSelect2" method="post">
        ID<br>
        <input type="text" name="data1" placeholder="Yamada" required></input><br>
        Password<br>
        <input type="text" name="data2" placeholder="password" required></input><br>
        <button type="submit">送信</button>
    </form>
    </div>
</body>